
main {
    display: block;
    background-color:#e4fbf4;
}

/* div {
    display: block;

    background-color:#e4fbf4;
} */


body { font-family: "Carvel" }
.contenido { font-family: Arial, Helvetica, Sans-serif }